* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all 0.2s ease-in;
}

body {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 100px;
  align-items: center;
  flex-direction: column;
  background-color: #eeedfb;
}
